<div class="nav">
    <div class="nav-container">
        <div class="float-left">
            <img id="cnodeLogo" class="cnode-logo" src="/images/CNode.jpg">
        </div>
        <form class="search-form" action="/">
            <input type="text" name="search" class="search-query">
        </form>
        <ul class="nav-menu">
            <li id="home">首页</li>
            <li class="isLogon">未读消息</li>
            <li>新手入门</li>
            <li id="api">API</li>
            <li>关于</li>
            <li id="headerRegister" class="isLogout">注册</li>
            <li id="headerLogin" class="isLogout">登录</li>
            <li class="isLogon">设置</li>
            <li id="logout" class="isLogon">退出</li>
        </ul>
    </div>
    <div class="clear-both"></div>
</div>