<div class="inner">
    <p>CNode：Node.js专业中文社区</p>
    <div>
        您可以<a href="/sign/login">登录</a> 或<a href="/sign/login">注册</a> , 也可以
        <form action="/sign/login" method="get">
            <input type="submit" name="logonBtn" id="logonBtn" class="logonBtn" value="通过GitHub登录">
        </form>
    </div>
</div>