<div>
    <div class="header">
        作者其他话题
    </div>
    <div class="inner">
        <ul class="ahtuor-other-topic-list">
            <li>xxxxx</li>
            <li>xxxxx</li>
        </ul>
    </div>
</div>