<div class="inner">
    <p>CNode：Node.js专业中文社区</p>
    <div>
        您可以<a href="javascript:void(0);">登录</a> 或<a href="javascript:void(0);">注册</a> , 也可以
        <input type="button" name="logonBtn" id="logonBtn" class="logonBtn" value="通过GitHub登录">
    </div>
</div>