<div>
    <div class="header">
        <span>MarkDown语法参考</span>
    </div>
    <div class="inner">
        <ul class="markdown-pointer">
            <li>### 单行的标题</li>
            <li>**粗体**</li>
            <li>`console.log('行内代码')`</li>
            <li>```js\n code \n``` 标记代码块</li>
            <li>[内容](链接)</li>
            <li>![文字说明](图片链接)</li>
            <li><a href="https://segmentfault.com/markdown">Markdown 文档</a></li>
        </ul>
    </div>
</div>