<div>
    <div class="header">
        <span>个人信息</span>
    </div>
    <div class="inner">
        <a href="javascript:void(0);" class="author-image-name">
            <img id="userImage" class="float-left">
            <div id="sidebarUsername"></div>
        </a>
        <span><%= userInfo.score %></span>
        <div>
            <% if(userInfo.personalSign) { %>
                "<%= userInfo.personalSign %>"
            <% } else { %>
                "这家伙很懒，什么个性签名都没有留下。"
            <% } %>
        </div>
    </div>
</div>