<div>
    <div class="header">
        <span>积分榜</span>
        <span><a href="javascript:void(0);">TOP 100>></a></span>
    </div>
    <div class="inner">
        <ul class="point-list">
            <li>
                <span>19440</span>
                <span><a href="javascript:void(0);">i5ting</a></span>
            </li>
            <li>
                <span>14595</span>
                <span><a href="javascript:void(0);">alsotang</a></span>
            </li>
            <li>
                <span>14595</span>
                <span><a href="javascript:void(0);">alsotang</a></span>
            </li>
            <li>
                <span>14595</span>
                <span><a href="javascript:void(0);">alsotang</a></span>
            </li>
        </ul>
    </div>
</div>