<div>
    <div class="header">
        <span>作者</span>
    </div>
    <div class="inner">
        <a href="javascript:void(0);" class="author-image-name">
            <img class="float-left" src="/images/CNode.jpg">
            <div>xxxxx</div>
        </a>
        <span>积分:50</span>
        <div>"这家伙很懒，什么个性签名都没有留下。"</div>
    </div>
</div>