<div>
    <div class="header">
        <p>无人回复的话题</p>
    </div>
    <div class="inner">
        <ul class="no-reply-topic">
            <li>
                <a href="javascript:void(0);">1111</a>
            </li>
            <li>
                <a href="javascript:void(0);">2222</a>
            </li>
        </ul>
    </div>
</div>