<div>
    <div class="topic-details">
        <div class="topic-header">
            <h2>业余时间做的玩具</h2>
            <ul class="topic-header-details">
                <li>发布于2天前</li>
                <li>作者 <a href="javascript:void(0);">xxxxxx</a></li>
                <li>666次浏览</li>
                <li>来自 分享</li>
            </ul>
            <div class="clear-left small-margin-botton"></div>
        </div>
        <div class="topic-content">
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
            <div>xxxxxxxxxx</div>
        </div>
    </div>
    <div class="topic-replies">
        <div class="topic-replies-header">
            2人回复
        </div>
        <div class="topic-replies-container">
            <ul class="topic-replies-list">
                <li>
                    <img class="reply-topic-user" src="/images/CNode.jpg">
                    <div class="topic-replies-item-title">
                        <span class="small-margin-left">xxxxx</span>
                        <a class="small-margin-left">xxxxx</a>
                    </div>
                    <div class="topic-replies-item-container">
                        xxxxxxx
                    </div>
                </li>
                <li>
                    <img class="reply-topic-user" src="/images/CNode.jpg">
                    <div class="topic-replies-item-title">
                        <span class="small-margin-left">xxxxx</span>
                        <a class="small-margin-left">xxxxx</a>
                    </div>
                    <div class="topic-replies-item-container">
                        xxxxxxx
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>