body,html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: auto;
    background-color: #E1E1E1;
    font-size: 14px;
} 

a {
    color: #00B7FF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
}

ul li {
    list-style-type: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.clear-left {
    clear: left;
}

.small-margin-left {
    margin-left: 10px;
}

.small-margin-botton {
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}