/* ----------------------nav------------------ */
.nav {
  width: 100%;
  padding: 5px 0;
  background-color: #444444;
  color: white;
  font-size: 13px;
}
.nav-container {
  min-height: 40px;
  width: 90%;
  max-width: 1400px;
  margin: auto;
}
.cnode-logo {
  cursor: pointer;
}
.search-form {
  float: left;
  margin-top: 5px;
}
.search-query {
  padding: 3px 5px 3px 22px;
  color: #666;
  border: 0px;
  border-radius: 6px;
  height: 24px;
}
.nav-menu {
  float: right;
}
.nav-menu li {
  float: left;
  margin-left: 35px;
}
.nav-menu li:hover {
  cursor: pointer;
}
.isLogon, .isLogout {
  display: none;
}
/* -------------------footer------------------ */
#footer {
  width: 100%;
  padding: 10px;
  background-color: white;
}
#footer_main {
  margin: auto;
  width: 90%;
}
.links {
  margin-bottom: 5px;
}
/* main */
#main {
  width: 90%;
  margin: 10px auto;
  max-width: 1400px;
  min-height: 400px;
  height: auto;
}
/* container */
#container {
  margin-right: 305px;
  background-color: #E1E1E1;
}
/* sidebar */
#sidebar {
  float: right;
  width: 290px;
}
#sidebar>div {
  margin-bottom: 15px;
  background-color: white;
}
#sidebar .header {
  padding: 10px;
  background-color: #F6F6F6;
}
#sidebar .inner {
  padding: 10px;
}
.logonBtn {
  cursor: pointer;
  margin-top: 5px;
  height: 34px;
  width: 130px;
  font-size: 14px;
  color: white;
  background-color: #54B9D7;
  border: 0;
  border-radius: 4px;
}
.add-topic-btn {
  height: 32px;
  background-color: #80BD01;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.no-reply-topic, .point-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #7790B9;
}
.no-reply-topic li,.point-list li {
  margin-bottom: 5px;
  height: 20px;
  line-height: 20px;
}
.markdown-pointer {
  padding: 0;
  margin: 0;
}
.markdown-pointer li {
  height: 26px;
  line-height: 26px;
}
.markdown-pointer a {
  color: #778087;
}
.sidebar-erweima {
  text-align: center;
}
.author-image-name {
  height: 50px;
  line-height: 50px;
}
.author-image-name:hover {
  text-decoration: none;
}
.author-image-name img {
  height: 50px;
  width: 50px;
}
.author-image-name div {
  padding-left: 60px;
  color: #C8C8C8;
}
.ahtuor-other-topic-list {
  padding: 0;
  margin: 0;
  color: #778087;
}
.ahtuor-other-topic-list li {
  height: 25px;
  line-height: 25px;
}
/* topic container */
#topicListContainer {
  border: 1px solid white;
}
#topicListContainer .header {
  color: #80BD01;
  background-color: #F6F6F6;
}
.topic-list-header {
  background-color: #F6F6F6;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.topic-list-header li {
  float: left; 
  margin-left: 20px;
}
.topic-list-header li a {
  color: #80BD01;
}
.active {
  color: white !important;
  padding: 5px;
  border-radius: 5px;
  background-color: #80BD01;
}
.topic-list-item {
  margin: 0;
  padding: 0;
}
.topic-list-item li {
  height: 30px;
  line-height: 30px;
  padding: 10px;
  background-color: white;
}
.topic-list-item li:hover {
  background-color:  #E1E1E1;
}
.reply-click {
  display: inline-block;
  width: 65px;
  margin-left: 10px;
}
.last-reply-user {
  height: 30px;
  line-height: 30px;
  color: #778087;
}
.reply-user-image {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.label-style {
  padding: 2px;
  border-radius: 2px;
  color: white;
  background-color:  #80BD01;
}
.topic-title {
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.topic-title:hover {
  text-decoration: underline;
}

.topic-details {
  background-color: white;
}
.topic-header {
  padding: 1px 10px;
}
.topic-header-details-container {
  height: 30px;
  line-height: 30px;
}
.topic-header-details {
  padding-left: 0;
}
.topic-header-details li {
  float: left;
  margin-left: 25px;
  list-style-type: disc;
  color: #838383;
}
.topic-content {
  border-top: 1px solid #838383;
  padding: 20px;
  margin-bottom: 20px;
}

.topic-replies {
  background-color: white;
}
.topic-replies-header {
  height: 40px;
  line-height: 40px;
  background-color: #F6F6F6;
}
.topic-replies-list {
  padding: 0;
  margin: 0;
}
.topic-replies-list li {
  padding: 10px;
  border-bottom: 2px solid #F6F6F6;
}
.reply-topic-user {
  height: 30px;
  width: 30px;
  float: left;
}
.topic-replies-item-container {
  padding-left: 60px;
  font-size: 16px;
}

.create-topic-header {
  padding: 10px;
  background-color: #F6F6F6;
}
.create-topic-header a {
  color: #80BD01;
  cursor: pointer;
}
.create-topic-content {
  background-color: white;
}

.create-topic-fieldset {
  border: 0;
}
.create-topic-fieldset select {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}
.create-topic-title {
  display: block;
  margin-top: 10px;
  border: 1px solid #F6F6F6;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
}
#createTopicText {
  display: block;
  margin-top: 10px;
  line-height: 20px;
  resize: none;
  width: 90%;
  height: 500px;
  border-radius: 10px;
}
#publishTopic {
  display: inline-block;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  width: 100px;
  color: white;
  cursor: pointer;
  background-color: #0088CC;
  height: 30px;
  line-height: 30px;
}